dotfiles/vim/temp_dirs
dotfiles/vim/bundle
dotfiles/nvim/temp_dirs
dotfiles/nvim/bundle
dotfiles/ipython/profile_default/security
dotfiles/ipython/profile_default/log
dotfiles/ipython/profile_default/db/dhist
*.sqlite
dotfiles/xmonad/xmonad*
!dotfiles/xmonad/xmonad.hs
*.pyc
dotfiles/config/google-chrome/
.*.swp
.netrwhist
dotfiles/vim/obsession.session
*~
dotfiles/vim/plugged
dotfiles/tmux/plugins
